<!DOCTYPE html>
<html>
<head>
  <title>A Little Spoon and Fork Helper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.7.2.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
